<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836355816283-a99ln968vrr5a7777bic04hg0e929k6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836355816283-a99ln968vrr5a7777bic04hg0e929k6l</string>
	<key>API_KEY</key>
	<string>AIzaSyAosjJJi98lYIO8ltDA5qlrIpTgbiFStHA</string>
	<key>GCM_SENDER_ID</key>
	<string>836355816283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rolandSalaryWebsite</string>
	<key>PROJECT_ID</key>
	<string>smartpayy</string>
	<key>STORAGE_BUCKET</key>
	<string>smartpayy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836355816283:ios:d98144f5fbc08c4c7a387e</string>
</dict>
</plist>